body {
    background-color: #f5f5f5;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    /*align-self: flex-start;*/
    max-width: 100%;
}

/* ------------------- SHARED ------------------- */
.centered-container {
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: black;
}

.centered-container-academics {
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: black;
}

.body-container {
    margin: 20px;
}

.page-header {
    margin-top: 15px;
    margin-bottom: 50px;
}

.title {
    margin-bottom: 2px;
}

.subtitle {
    font-style: italic;
}

.center-text {
    text-align: center;
}

.col {
    display: inline-block;
}

.row {

}

.k-tabstrip-items {
    font-size: 14pt !important;
    width: 100% !important;
    top: 0 !important;
    position: sticky !important;
    position: -webkit-sticky !important;
    background-color: #efefef !important;
    z-index: 100 !important;
    -webkit-box-shadow: 0 0 2px 0 rgba(94,94,94,1);
    -moz-box-shadow: 0 0 2px 0 rgba(94,94,94,1);
    box-shadow: 0 0 2px 0 rgba(94,94,94,1);
}

/* ------------------- ABOUT VIEW ------------------- */
.about-h3 {
    margin-bottom: 15px;
}

#name-header {
    font-size: 82px;
    margin-bottom: 20px;
}

#university-container {
    margin-bottom: 30px;
}

#graduation-img {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    border: solid 1px #0094d8;
    margin-left: 40px;
}

#university-info {
    min-width: 300px;
}

#interests-container {
    margin-bottom: 20px;
}

.chess-img {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    border: solid 1px #0094d8;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}

#skiing-container {
    margin-top: 40px;
}

#skiing-img {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);
    border: solid 1px #0094d8;
    width: 50%;
    height: 50%;
}

/* ------------------- GRID VIEW ------------------- */
#grade-filter-and-gpa {
    margin-bottom: 10px;
}

.grade-title {
    margin-bottom: 8px;
}

#filter-controls {
    display: inline-block;
}

#button-group {
    margin-top: 5px;
    display: inline-block;
}

.clear-filter-button {
    margin-left: 15px;
}

#grid-descriptor {
    font-size: 10pt;
    margin-bottom: 2px;
}

#gpa-container {
    display: inline-block;
    margin-left: 8px;
}

#circle-inner {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    text-align: center;
    border: solid 3px #EFECEC;
}

#gpa {
    margin-top: 23%;
    display: inline-block;
}

/* ------------------- WORK VIEW ------------------- */
#first-american-about-container {
    margin-bottom: 15px;
}

#first-american-tasks-container {
    clear: both;
    display: block;
    margin-left: 20px;
}

#first-american-title {
    margin-bottom: 2px;
}

.subtitle-close {
    margin-top: 1px;
    margin-bottom: 0px;
    font-style: italic;
}